.input-wrap {
  display: flex;
  align-items: center;

  &__message {
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    line-height: 50px;
    border: 0;
    font-size: 20px;
    padding: 0;
    flex-grow: 1;

    &:active, &:focus {
      outline: none;
    }
  }

  &__send-button, &__file-button, &__file-remove {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background: #e0e0e0;
    }
  }

  &__file-button {
    margin: 0 10px 0 0;
    max-width: 20%;
    min-width: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__file-remove {
    margin: 0 10px 0 -10px;
  }

  .add-file {
    display: none;
  }
}