html, body, #app, .main-wrap {
  width: 100%;
  height: 100%;
}

body {
  background: #e0e0e0;
  margin: 0;
  padding: 0;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chats-wrap {
  width: 500px;
  max-width: 90%;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  background: #f0f0f0;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #000;
}