.chat-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.chat-view {
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .user-info {
    height: 50px;
    min-height: 50px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;

    &__name {
      font-weight: 600;
    }

    &__back {
      padding: 5px;
      border: 1px solid #000;
      border-radius: 3px;
    }
  }

  .input-wrap {
    height: 50px;
    min-height: 50px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-top: 1px solid #000;
    background: #fff;
  }

  .dialog-wrap {
    overflow-y: auto;
    overflow-x: hidden;
  }
}