.chats-list {
  min-height: 100%;
}

.chats-action {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;

  &__button {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    line-height: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    background: #f1d7d7;
    font-weight: bold;
    cursor: pointer;

    &--active {
      background: #f38b8b;
    }
  }
}