.chat-entity {
  min-height: 100px;
  border-bottom: 1px solid #000;
  cursor: pointer;
  padding: 24px;
  box-sizing: border-box;
  background: #7cb870;

  &:hover {
    background: #fff;
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
  }

  &__last-message {
    font-size: 16px;
    margin-top: 10px;
  }

  &__friend {
    background: #f0f0f0;
  }
}