.message-container {
  width: 90%;
  margin: 10px 5%;
  min-height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  .message-entity {
    max-width: 70%;
    padding: 5px;
    border-radius: 6px;
    background: #ffeb67;

    &__file-wrap {
      cursor: pointer;
      margin-top: 5px;
      font-weight: 600;
      font-size: 18px;
      border: 1px solid #000;
      padding: 5px;
      border-radius: 3px;
    }
  }

  &--from {
    justify-content: flex-end;

    .message-entity {
      background: #7cb870;
    }
  }

  &__date {
    font-size: 9pt;
    margin: 0 5px;
  }
}